body {
    background-color: #4db7ad !important;
}

body > div {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

button {
    width: 8em;
    height: 6em;
    color: white;
    background-color: #4db7ad;
    border: 0;
}
    .num, .brwn {
        background-color: #8d6e63;
    }